<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="/css/style.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cinzel+Decorative:wght@400;700;900&family=Eagle+Lake&family=Prata&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
            <script src="/js/script.js"></script>
            <title>Traveling Monkey</title>
        </head>
        <body>
            <%- include ('nav.ejs') %>
            <div id="myModalCurrency" class="modalCurrency">
                <div class="modal-currency-content">
                    <div class="modal-currency-header">
                      <span class="close">&times;</span>
                      <h2>IDIOMA/MOEDA</h2>
                    </div>
                    <div class="modal-currency-body">
                        <div class="lang">
                            <label for="languages">IDIOMAS</label>
                            <select name="languages" id="languagesList">
                                <option value="">Choose a language...</option>
                                <option value="AR">Arabic</option>
                                <option value="BN">Bengali</option>
                                <option value="ZH">Chinese (Mandarin)</option>
                                <option value="EN">English</option>
                                <option value="FR">French</option>
                                <option value="DE">German</option>
                                <option value="HI">Hindi</option>
                                <option value="JA">Japanese</option>
                                <option value="PT-BR">Portuguese</option>
                                <option value="RU">Russian</option>
                                <option value="ES">Spanish</option>
                            </select>
                        </div>
                        <div class="coin">
                            <label for="currency">MOEDAS</label>
                            <select name="currency" id="currencyList">
                                <option value="">Choose a currency...</option>
                                <option value="USD$" label="US dollar">USD</option>
                                <option value="EUR$" label="Euro">EUR</option>
                                <option value="JPY$" label="Japanese yen">JPY</option>
                                <option value="GBP$" label="Pound sterling">GBP</option>
                                <option value="AUD$" label="Australian dollar">AUD</option>
                                <option value="CHF$" label="Swiss franc">CHF</option>
                                <option value="CAD$" label="Canadian dollar">CAD</option>
                                <option value="CNY$" label="Chinese yuan">CNY</option>
                                <option value="BRL$" label="Brazilian real">BRL</option>
                                <option value="TRY$" label="Turkish lira">TRY</option>
                                <option value="ARS$" label="Argentine peso">ARS</option>
                            </select>
                        </div>
                        <div class="select">
                            <button class="btnSelect" onclick="changeCountry();">SELECIONAR</button>
                        </div>
                    </div>
                    <div class="modal-currency-footer">
                      <h3>Traveling Monkey - Todos os direitos reservados -</h3>
                    </div>
                  </div>
            </div>
            <header class="headerBody">
                <section class="searchSection">
                    <div class="searchSectionTitles">
                        <h1>Traveling Monkey</h1>
                        <h2>Te guiamos aos guias</h2>
                    </div>
                    <div class="searchSectionOptions">
                        <form class="searchForm" action="" method="GET">
                            <div class="destiny searchDivHover">
                                <img src="/imgs/icons/searchIcon.webp" alt="Lupa">
                                <label for="destinyList">Destino:</label>
                                <input list="destinyList" id="destinyChoice" name="destinyChoice" />
                                <datalist id="destinyList">
                                    <option value="Registro">Registro</option>
                                    <option value="Eldorado">Eldorado</option>
                                    <option value="Iguape">Iguape</option>
                                </datalist>  
                            </div>
                            <div class="dates searchDivHover">
                                <label id="dateLabelIn" for="dateIn">Ida:</label>
                                <input type="date" name="dateIn" id="dateIn">
                                <label id="dateLabelOut" for="dateOut">Volta:</label>
                                <input type="date" name="dateOut" id="dateOut">
                            </div>
                            <div class="people searchDivHover">
                                <label id="peopleLabel" for="turists">Turistas:</label>
                                <select name="turists" id="turists">
                                    <option value="ADULTOS">ADULTOS</option>
                                    <option value="CRIANÇAS">CRIANÇA</option>
                                    <option value="PCDs">PCDs</option>
                                </select>
                            </div>
                            <div id="searchFormSubmit">
                                <input type="submit" value="PESQUISAR">
                            </div>
                        </form>
                    </div>
                </section>
            </header>