<nav>
    <div class="logo">
        <img src="" alt="logomarca">
    </div>
    <div class="currency">
        <input list="languageCurrency" type="text">
        <datalist id="languageCurrency">
            <option value="Brasil"></option>
            <option value="EUA"></option>
            <option value="Japão"></option>
            <option value="China"></option>
            <option value="Russia"></option>
            <option value="Espanha"></option>
        </datalist>
    </div>
</nav>