<nav class="navTopMenu">
    <div class="logo">
        <a href="/home"><img src="/imgs/monkey-5.jpg" alt="logomarca"></a>
    </div>
    <ul class="topMenu">
        <li class="liHover">
            <div class="currencyLanguage">
                <div class="language">
                    <img src="/imgs/icons/languagesIcon.webp" alt="Icone idioma">
                    <span>PT</span>
                </div>
                <div class="currency">
                    <img src="/imgs/icons/currencyIcon.webp" alt="Icone moeda ">
                    <span>R$</span>
                </div>
            </div>
        </li>
        <li>
            <div class="loginBtn">
                <img src="/imgs/icons/iconLogin.webp" alt="">
                <button>Login<br>Cadastrar</button>
            </div>
        </li>
        <li class="liHover liHome">
            <a href="/home">INICIO</a>
        </li>
    </ul>
</nav>