body {
    margin: 0;
    padding: 0;
    background-color: #9636EB;
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
}


.gridTemplate2 {
    grid-template: 
    "article article article aside" 100px
    "article article article aside" 100px
    1fr / 1fr;
}
