:root {
    --paletaBase: #9636EB;
    --paletaSombra3: #65249E;
    --paletaSombra4: #31124D;
    --paletaTriade1: #36EB78;
    --paletaTriade3: #775496;
    --paletaTriade4: #4e6b59;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(180deg, var(--paletaBase), var(--paletaSombra3), var(--paletaSombra4)) ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template: 
    "logo topMenu topMenu" 20%
    "main main main" 60%
    "footer footer footer" 20%
    /20% 1fr 1fr;
}

.item {
    margin: 10px;
    
}

header {
    grid-area: logo;
}

.logotype {
    width: 100%;
    height: 100%;
}

.topMenu {
    grid-area: topMenu;
}

.topNavMenu {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
}

.topNavMenu li {
    align-content: center;
    width: 100%;
    text-align: center;
    list-style: none;
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
}

.topNavMenu li {
    border-right: 1px #ffffff;
    border-radius: 10%;
}
.topNavMenu li:nth-last-child(1) {
    border: none;
}
.topNavMenu li:hover {
    background-color: #31124d6c;
}
.topNavMenu li:active {
    background-color: #364beb9a;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 
    "article article mainAside" 100%
    /1fr 1fr 20%;
}

article {
    grid-area: article;
    grid-template:
    "section1 aside1" 75%
    "section1 aside2" 25%
    /1fr 20%;
}

.articleSection-1 {
    grid-area:section1;
}

.articleAside-1 {
    grid-area: aside1;
}

.articleAside-2 {
    grid-area: aside2;
}

.mainAside {
    grid-area: mainAside;
}

footer {
    grid-area: footer;
    display: grid;
    grid-template:
    ". bottomMenu1 bottomMenu1 . bottomMenu2 ." 90%
    /10% 1fr 1fr 5% 1fr 10%;
}

.bottomMenu-1 {
    grid-area: bottomMenu1;
}

.bottomMenu-2 {
    grid-area: bottomMenu2;
    margin: 0;
}

.bottomMenu-2 p {
    margin: 0;
    text-transform: uppercase;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
}

.bottomMenu-2 ul {
    height: 85%;
}

.bottomNavMenu-1, .bottomNavMenu-2 {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
}

.bottomNavMenu-1 li, .bottomNavMenu-2 li {
    align-content: center;
    width: 100%;
    text-align: center;
    list-style: none;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
}

.bottomNavMenu-2 {
    display: flex;
    justify-content: center;
    list-style: none;
}

.bottomNavMenu-2 li {
    margin: 0 10px;
    height: 100%;
}

.bottomNavMenu-2 li a {
    font-size: 30px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 0.5s ease;
}

.bottomNavMenu-2 li a:hover{
    background-image: linear-gradient(45deg, var(--paletaTriade1), var(--paletaTriade3), var(--paletaTriade4));
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 40px;
}

.bottomNavMenu-2 li a::before {
    content: '';
    position: absolute;
    z-index: -1;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: linear-gradient(45deg, var(--paletaTriade1), var(--paletaTriade3), var(--paletaTriade4));
    transform: scale(1);
    transition: 0.5s ease-in-out;
}

.bottomNavMenu-2 li a:hover::before {
    transform: scale(0);
}