:root {
    --corPaleta1: #2760E6;
    --corPaleta2: #279CE6;
    --corPaleta3: #2A27E6;
    --corPaleta4: #27D8E6;
    --corPaleta5: #6827E6;
    --corPaleta6: #E6AD27;
    --corPaleta7: #4662A6;
    --corPaleta8: #917B49;
    --corPaleta9: #444E66;
    --corPaleta10: #27C4E6;
    --corPaleta11: #E6D327;
    --corPaleta12: #495E91;
    --corPaleta13: #E6C427;
    --corPaleta14: #E69627;
    --corPaleta15: #666044;
    --corPaleta16: #4264B3;
    --corPaleta17: #495980;
    --corPaleta18: #3B404C;
    --corPaleta19: #2A2D33;
    --corPaleta20: #27E631;
    --corPaleta21: #E62774;
    --corPaleta22: #2151C2;
    --corPaleta23: #1A4099;
    --corPaleta24: #132F70;
    --corPaleta25: #0C1E47;
    --corPaleta26: #9FE627;
    --corPaleta27: #E64827;
    --corPaleta28: #5A6644;
}

body {
    background-color: aqua;
}