:root {
    --colorPalet1: #2760E6;
    --colorPalet2: #279CE6;
    --colorPalet3: #2A27E6;
    --colorPalet4: #27D8E6;
    --colorPalet5: #6827E6;
    --colorPalet6: #E6AD27;
    --colorPalet7: #4662A6;
    --colorPalet8: #917B49;
    --colorPalet9: #444E66;
    --colorPalet10: #27C4E6;
    --colorPalet11: #E6D327;
    --colorPalet12: #495E91;
    --colorPalet13: #E6C427;
    --colorPalet14: #E69627;
    --colorPalet15: #666044;
    --colorPalet16: #4264B3;
    --colorPalet17: #495980;
    --colorPalet18: #3B404C;
    --colorPalet19: #2A2D33;
    --colorPalet20: #27E631;
    --colorPalet21: #E62774;
    --colorPalet22: #2151C2;
    --colorPalet23: #1A4099;
    --colorPalet24: #132F70;
    --colorPalet25: #0C1E47;
    --colorPalet26: #9FE627;
    --colorPalet27: #E64827;
    --colorPalet28: #5A6644;
    --fontH1: "Bebas Neue", sans-serif;
    --fontBodyText: "Comfortaa", sans-serif;
}

body {
    background-color: var(--colorPalet17);
    margin: 0;
    padding: 0;
    width: 99vw;
    height: 100vh;
    font-family: var(--fontBodyText);
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.navTopMenu {
    width: 95%;
    height: 5rem;
    display: grid;
    grid-template:
        "logo navbar" 100%
        /30% 2fr
    ;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    background: var(--colorPalet21);
    border-radius: 1rem;
}

.topMenu {
    grid-area: navbar;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

.topMenu li {
    width: 20%;
    height: 90%;
    align-content: center;
    text-align: center;
    list-style: none;
    color: #ffffff;
    border-radius: 1rem;
}

.liHover:hover, .liHover a:hover, .searchDivHover:hover, .quickSearch a:hover {
    background: var(--colorPalet11);
    color: #000000;
    border-radius: 1rem;
}

.liHover:active, .liHover a:active, .quickSearch a:active {
    background: var(--colorPalet20);
}

.logo {
    grid-area: logo;
    display: flex;
    height: 100%;
    width: 100%;
}

.logo a {
    height: 100%;
    width: 25%;
    align-content: center;
    text-align: center;
}

.logo img {
    height: 90%;
    border-radius: 4rem;
}

.currencyLanguage {
    height: 100%;
    align-content: center;
    text-align: center;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.language, .currency {
    width: 50%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.currency {
    justify-content: center;
}

.language img, .currency img {
    height: 40%;
}

.modalCurrency {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-currency-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    border-radius: 1rem;
    width: 35%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-currency-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border-radius: 1rem 1rem 0 0;
}

.modal-currency-body {
    padding: 2px 16px;
    height: 10rem;
    display: grid;
    grid-template:
        "lang" 35%
        "coin" 35%
        "btnSelect" 30%
        /1fr
    ;
}

.modal-currency-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    border-radius: 0 0 1rem 1rem;
}

.lang, .coin {
    align-items: center;
    justify-items: center;
}

.lang select, .lang label, .coin label, .coin select {
    width: 100%;
    height: 50%;
    font-size: 1.5rem;
    font-weight: bold;
}

.lang {
    grid-area: lang;
    display: grid;
    grid-template:
        "langLabel langSelect" 100%
        /1fr 1fr
    ;
}

.select {
    grid-area: btnSelect;
    display: grid;
    grid-template:
        ". . btn" 100%
        /1fr 1fr 1fr
    ;
    align-items: center;
    justify-items: center;
}
.btnSelect {
    grid-area: btn;
    width: 70%;
    font-size: 1rem;
    font-weight: bold;
    height: 70%;
    background: var(--colorPalet3);
    color: #ffffff;
    border-radius: 1rem;
}

.lang label {
    grid-area: langLabel;
}
.lang select {
    grid-area: langSelect;
}

.coin {
    grid-area: coin;
    display: grid;
    grid-template:
        "coinLabel coinSelect" 100%
        /1fr 1fr
    ;
}

.coin label {
    grid-area: coinLabel;
}
.coin select {
    grid-area: coinSelect;
}

.loginBtn {
    height: 100%;
    align-content: center;
    text-align: center;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.loginBtn button {
    width: 70%;
    height: 3rem;
    background: var(--colorPalet3);
    color: #ffffff;
    font-family: var(--fontBodyText);
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
}

.loginBtn button:hover, #searchFormSubmit input:hover, .btnSelect:hover {
    background: var(--colorPalet11);
    color: #000000;
}

.loginBtn button:active, #searchFormSubmit input:active, .btnSelect:active {
    background: var(--colorPalet20);
}

.liHome {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.liHome a {
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    border-radius: 1rem;
}

.headerBody {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
}

.searchSection {
    margin-top: 1rem;
    width: 60%;
    height: 10rem;
    background: var(--colorPalet2);
    border-radius: 1rem;
}

.searchSectionTitles {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.searchSectionTitles h1 {
    width: 100%;
    align-content: center;
    margin: 0;
}

.searchSectionTitles h2 {
    font-style: italic;
    width: 50%;
    margin: 0;
}

.searchSectionOptions {
    width: 100%;
    height: 50%;
}

.searchForm {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.searchForm div {
    width: 25%;
    height: 100%;
}

.searchForm input, .searchForm select {
    border-radius: 1rem;
    border: none;
}

.destiny {
    display: grid;
    grid-template:
        "lupa destinyLabel destinyLabel" 40%
        "lupa destinyInput destinyInput" 45%
        / 20% 1fr 1fr
    ;
    justify-items: start;
    align-content: center;
    align-items: center;
    border-right: dashed 1px;
    margin-right: 5px;
}

.destiny img {
    grid-area: lupa;
    width: 90%;
}

.destiny label {
    grid-area: destinyLabel;
    width: 100%;
    height: 100%;
    text-align: start;
    align-content: end;
    font-weight: bold;
}

#destinyChoice {
    grid-area: destinyInput;
    height: 1.5rem;
    width: 95%;
}

.dates {
    display: grid;
    grid-template:
        "dateLabelIn dateLabelOut" 40%
        "dateInputIn dateInputOut" 45%
        / 1fr 1fr
    ;
    border-right: dashed 1px;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    justify-items: start;
}

.dates label {
    width: 100%;
    height: 100%;
    align-content: end;
    text-align: start;
    font-weight: bold;
}

.dates input {
    width: 95%;
    height: 1.5rem;
}

#dateLabelIn {
    grid-area: dateLabelIn;
}

#dateIn {
    grid-area: dateInputIn;
}

#dateLabelOut {
    grid-area: dateLabelOut;
}

#dateOut {
    grid-area: dateInputOut;
}

.people {
    display: grid;
    grid-template:
        "peopleLabel" 40%
        "peopleSelect" 45%
        / 1fr
    ;
    margin-right: 5px;
    align-items: center;
    align-content: center;
    justify-items: start;
}

#turists {
    grid-area: peopleSelect;
    width: 95%;
    height: 1.5rem;
}

#peopleLabel {
    grid-area: peopleLabel;
    width: 95%;
    height: 100%;
    align-content: end;
    text-align: start;
    font-weight: bold;
}

#searchFormSubmit {
    width: 10%;
    height: 100%;
    display: grid;
    grid-template:
        "." 40%
        "searchFormSubmit" 45%
        / 1fr
    ;
    align-content: center;
    justify-items: center;
    align-items: center;
}

#searchFormSubmit input {
    grid-area: searchFormSubmit;
    height: 95%;
    width: 95%;
    background: var(--colorPalet3);
    color: #ffffff;
    font-weight: bold;
    border-radius: 1rem;
}

.indexBody {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.indexBody section {
    width: 80%;
    height: 30%;
    border-radius: 1rem;
    background: var(--colorPalet10);
}

.quickSearch {
    display: grid;
    grid-template:
        ". titleQSearch ." 40%
        "searchCity searchLocal searchGuide" 60%
        / 20% 20% 20%
    ;
    justify-content: space-evenly;
}

.quickSearch h1 {
    grid-area: titleQSearch;
    font-family: var(--fontH1);
    font-size: 3.5rem;
    color: #ffffff;
    margin: 0;
    text-align: center;
    align-content: center;
}

.quickSearch a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.5rem;
    text-align: center;
}

.quickSearch img {
    width: 40%;
}

.citySearch {
    grid-area: searchCity;
}

.citySearch a {
    display: grid;
    grid-template:
        "imgCitySearch" 80%
        "spanCitySearch" 20%
        / 1fr
    ;
    align-items: center;
    justify-items: center;
}

.citySearch img {
    grid-area: imgCitySearch;
}
.citySearch span {
    grid-area: spanCitySearch;
}

.localSearch {
    grid-area: searchLocal;
}

.localSearch a {
    display: grid;
    grid-template:
        "imgLocalSearch" 80%
        "spanLocalSearch" 20%
        / 1fr
    ;
    align-items: center;
    justify-items: center;
}

.localSearch img {
    grid-area: imgLocalSearch;
}
.localSearch span {
    grid-area: spanLocalSearch;
}

.guideSearch {
    grid-area: searchGuide;
}

.guideSearch a {
    display: grid;
    grid-template:
        "imgGuideSearch" 80%
        "spanGuideSearch" 20%
        / 1fr
    ;
    align-items: center;
    justify-items: center;
}

.guideSearch img {
    grid-area: imgGuideSearch;
}
.guideSearch span {
    grid-area: spanGuideSearch;
}

/*.recentReviews {
    
}

.aboutUs {
    
}*/

.cidadesBody {
    width: 80%;
    display: flex;
    flex-direction: column;
    background: var(--colorPalet2);
    border-radius: 1rem;
    flex-wrap: wrap;
    align-items: center;
}

.cidadesBody h1 {
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-family: var(--fontH1);
    font-size: 4rem;
    margin: 0 0 1rem 0;
}

.cidadesTable {
    width: 90%;
    text-align: center;
}

.cidadesTable tr {
    height: 2.5rem;
}

footer {
    width: 100%;
    background: var(--colorPalet9);
    height: 7rem;
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    align-content: center;
}