<%- include ('partials/header.ejs') %>

<main class="indexBody">
    <section class="quickSearch">
        <h1>BUSCA RÁPIDA</h1>
        <div class="citySearch">
            <a href="#">
                <img src="imgs/icons/iconCidade.webp" alt="Icone cidade">
                <span>BUSCA POR CIDADE</span>
            </a>
        </div>
        <div class="localSearch">
            <a href="#">
                <img src="imgs/icons/iconPonto.webp" alt="Icone ponto turistico">
                <span>BUSCA POR PONTO TURISTICO</span>
            </a>
        </div>
        <div class="guideSearch">
            <a href="#">
                <img src="imgs/icons/iconGuia.webp" alt="Icone guia de turismo">
                <span>BUSCA POR GUIA TURISTICO</span>
            </a>
        </div>
    </section>
    <section class="recentReviews">

    </section>
    <section class="aboutUs">

    </section>
</main>

<%- include ('partials/footer.ejs') %>